* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container {
    padding: 50px;

}

.sec-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.sec-one__contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;

}

.sec-one__title {
    font-size: 60px;
}

.sec-one__role {
    font-size: 30px;
    margin-top: 10px;
}

.sec-two,
.sec-three,
.sec-four,
.sec-five, .sec-six {
    margin-top: 20px;
}

.sec-two__decs,
.sec-three__decs,
.sec-four__decs,.sec-six__decs {
    margin-top: 10px;
}

.sec-five {
    background-color: black;
    color: white;
    padding: 20px;
}

.sec-five__social a {
    color: skyblue;
    text-decoration: none;
}

.sec-three li,
.sec-four li {
    list-style: none;
}

.sec-three {
    background-color: #6462FD;
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
}

.sec-six {
    background-color: #6462FD;
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
}
.sec-four {
    background-color: #FE7517;
    color: black;
    padding: 20px;
    display: inline-block;;
    border-radius: 10px;
    vertical-align: top;

}

.contact-form{
    margin-top: 20px;
}

.contact-form__input, .contact-form__textarea, .contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea {
    padding: 10px;
    border: none;
    border: solid black 1px;

}

.contact-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: orangered;
    color: black;
    border: none;
}